.main-menu {
    background-color: #fff;
    position: sticky;
    top: 0;
    left:0 ;
    z-index: 111;
}

.menu-logo {
    width: 60px;
}

.logo-text {
    font-size: 19px;
    position: relative;
    top: 5px;
}

.menu-battun a {
    text-decoration: none !important;
    background: #fbf900;
    padding: 10px 20px;
    font-weight: bold;
    position: relative;
    z-index: 11;
    border-radius: 10px !important;
    overflow: hidden;
}

.menu-battun a::after {
    content: "";
    width: 600px;
    height: 300px;
    background-color: green;
    position: absolute;
    top: -10px;
    left: 68px;
    z-index: -1;
    transition: 1s;
    border-radius: 56%;
}

.menu-battun a:hover {
    color: white;
}

.menu-battun a:hover::after {
    transform: translateX(-250px);
}

.main-menu-text {}

.main-menu-text ul {}

.main-menu-text ul li {
    position: relative;
}

.main-menu-text ul li a {
    padding: 0px 10px !important;
    display: block;
    font-weight: 600;
    position: relative;
}

.main-menu-text ul li a.m-underline::after {
    content: "";
    height: 4px;
    width: 0%;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.39);
    position: absolute;
    bottom: -10px;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}

.main-menu-text ul li:hover > a.m-underline::after {
    visibility: visible;
    opacity: 1;
    width: 100%;
}
.main-menu-text ul li {
    position: relative;
}

.main-menu-text ul li ul {
    position: absolute;
    top: 146%;
    left: 0;
    list-style: none;
    width: 168px;
    background-color: #f7f7f7;
    padding-left: 0;
    border-top: 3px solid #0000004f;
    transform: translateY(61px);
    transition: 1s;
    visibility: hidden;
    opacity: 0;
    z-index: 999;
}

.main-menu-text ul li ul li {
    border-bottom: 1px solid #00000029;
}

.main-menu-text ul li ul li a {
    line-height: 40px;
    text-decoration: none;
    color: black;

}
.main-menu-text ul li:hover > ul{
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}
.main-menu-text ul li ul li a:hover{
    background-color: rgba(0, 128, 0, 0.486);
}
.carousel-item{
    position: relative;
}
.carousel-item::after{
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(158, 0, 0, 0.568);
    position: absolute;
    top: 0;
    left: 0;
}
.carousel-text{
    z-index: 111;
}

@media only screen and (max-width:991px){
    .main-menu-text ul li ul {
        top: -28%;
        left: 133px;
      
        transform: translateY(0);
        transition: none;
    }
}